<a href="https://colab.research.google.com/github/kpatel3j/Assignment/blob/main/DATA_STRUCTURES.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1. Create a list of 10 elements of four different data types like int, string, complex and float.
lst = [1, "string", 3.5, 9j, 2, 5, "key", 5.2, 10, 15j]
print(lst)

[1, 'string', 3.5, 9j, 2, 5, 'key', 5.2, 10, 15j]

In [ ]:
# 2. Create a list of size 5 and execute the slicing structure.
list1 = [1, 2, 3, 4, 5]
print(list1[0:])        # prints all nums
print(list1[0:3])       # prints 3 nums
print(list1[:-1])      # prints all except last one
print(list1[::-1])    # prints in reverse 
print(list1[::2])     # prints odd nums

[1, 2, 3, 4, 5]
[1, 2, 3]
[1, 2, 3, 4]
[5, 4, 3, 2, 1]
[1, 3, 5]

In [ ]:
# 3. Write a program to get the sum and multiply of all the items in a given list.

list1 = [1, 2, 3, 4, 5]
print(sum(list1))
multiply = 1
for i  in list1:
  multiply *= i
print(multiply)

15
120

In [ ]:
# 4. Find the largest and smallest number from a given list.

list1 = [1, 2, 3, 4, 5]
print(min(list1))
print(max(list1))

1
5

In [ ]:
# 5. Create a new list which contains the specified numbers after removing the even numbers from a predefined list.

list1 = [1, 2, 3, 4, 5]
list2 = [i for i in list1 if i % 2 != 0]
print(list2)

[1, 3, 5]

In [ ]:
# 6. Create a list of elements such that it contains the squares of the first and last 5 elements between 1 and30 (both included).

list3 = []
for i in range(1, 31):
  list3.append(i**2)
print(list3[:5])
print(list3[-5:])

[1, 4, 9, 16, 25]
[676, 729, 784, 841, 900]

In [ ]:
# 7. Write a program to replace the last element in a list with another list.
# Sample input: [1,3,5,7,9,10], [2,4,6,8]
# Expected output: [1,3,5,7,9,2,4,6,8]

list = [1,3,5,7,9,10]
list[-1:]= 2,4,6,8
print(list)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [ ]:
# 8. Create a new dictionary by concatenating the following two dictionaries:
# Sample input: a={1:10,2:20} b={3:30,4:40}
# Expected output: {1:10,2:20,3:30,4:40}
a = {1:10,2:20}
b = {3:30,4:40}
a.update(b)
print(a)

{1: 10, 2: 20, 3: 30, 4: 40}

In [ ]:
# 9. Create a dictionary that contain numbers in the form(x:x*x) where x takes all the values between 1 and n(both 1 and n included).
# Sample input: n=5
# Expected output: {1:1, 2:4, 3:9, 4:16, 5:25}

n = 5
d = dict()
for x in range(1, n+1):
  d[x]=x*x
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# 10. Write a program which accepts a sequence of comma-separated numbers from console and generates a list and a tuple which contains every number in the form of string.
# Sample input: 34,67,55,33,12,98
# Expected output: [‘34’,’67’,’55’,’33’,’12’,’98’] (‘34’,’67’,’55’,’33’,’12’,’98’)

nums = input("Type in numbers seperated only by a comma: ")
nums_split = nums.split(',')

nums_tuple = tuple(nums_split)

print(nums_split)
print(nums_tuple)

Type in numbers seperated only by a comma: 1,2,2,3,5,4
['1', '2', '2', '3', '5', '4']
('1', '2', '2', '3', '5', '4')